.bgupload {
  background: #99999929;
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#79B7FD", GradientType=1 );
  width: 100%;
  height: 75vh;
}
.brdr {
  width: 100%;
  height: 1px;
  background-color: #5d5a5aaf;
  margin: 30px 0;
}

.purble {
  color: purple;
}

#to-upload {
  scroll-margin-top: 100px;
}
